body{
    background-color: purple;
}
.tabbutton{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 5px;
}
div{
    color: white;
}